    h2{
            color:brown;background-color: aqua;
        }
        .odd{
            border-style: double;
             border-width: 5px;
             border-color: gold;
             border-radius: 10px;
             padding: 5px;
        } 
       .even{
            border-style: solid;
             border-width: 5px;
             border-color: black;
             border-radius: 10px;
             padding: 5px;
       